.bg-custGreen {
background-color: #636D5C ;
}

.bg-custCream {
    background-color: #F2EBE1 ;
}

.bg-custOrange {
    background-color: #A75A38 ;
    }
    
.bg-custTan {
background-color: #C0A385 ;
}

.text-custGreen{
    color: #3a4135 ;
}
    
