.bg-custGreen {
  background-color: #636d5c;
}

.bg-custCream {
  background-color: #f2ebe1;
}

.bg-custOrange {
  background-color: #a75a38;
}

.bg-custTan {
  background-color: #c0a385;
}

.text-custGreen {
  color: #3a4135;
}
